## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [29]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [30]:
sample_list_1 = random.sample(range(0,101),k=80)
print(sample_list_1)

[57, 90, 43, 99, 70, 38, 0, 55, 5, 60, 30, 46, 22, 65, 72, 85, 18, 25, 91, 39, 81, 71, 17, 44, 13, 63, 75, 19, 3, 34, 29, 62, 15, 31, 2, 7, 86, 14, 41, 77, 33, 48, 73, 94, 36, 61, 28, 66, 47, 26, 6, 12, 51, 82, 87, 24, 8, 92, 16, 56, 49, 50, 78, 69, 79, 89, 59, 42, 80, 10, 53, 97, 4, 20, 35, 93, 74, 98, 68, 76]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [31]:
set1 = set(sample_list_1)
print(set1)
print("The set lenght is",len(set1))

{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 25, 26, 28, 29, 30, 31, 33, 34, 35, 36, 38, 39, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 85, 86, 87, 89, 90, 91, 92, 93, 94, 97, 98, 99}
The set lenght is 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [32]:
sample_list_2 = []
for i in range(80):
    n = random.randint(0,101)
    sample_list_2.append(n)
print(sample_list_2)

[1, 55, 95, 40, 34, 51, 90, 94, 76, 81, 42, 43, 48, 70, 0, 56, 51, 60, 34, 46, 67, 32, 76, 61, 21, 36, 80, 26, 70, 20, 84, 87, 101, 43, 28, 57, 35, 63, 33, 7, 43, 8, 41, 3, 48, 2, 43, 12, 28, 91, 90, 31, 73, 101, 4, 46, 92, 28, 59, 30, 36, 0, 72, 4, 50, 39, 67, 95, 32, 6, 4, 97, 43, 89, 20, 47, 98, 32, 49, 41]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [33]:
set2 = set(sample_list_2)
print("The set lenght is",len(set2))

# Not the same lenght since sets don't show repeated items.

The set lenght is 56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [46]:
set3 = []

for i in set1:
    if i not in set2:
        set3.append(i)
set3 = set(set3)
print(set3)

{5, 10, 13, 14, 15, 16, 17, 18, 19, 22, 24, 25, 29, 38, 44, 53, 62, 65, 66, 68, 69, 71, 74, 75, 77, 78, 79, 82, 85, 86, 93, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [47]:
set4 = []

for i in set2:
    if i not in set1:
        set4.append(i)
set4 = set(set4)
print(set4)

{32, 1, 67, 101, 40, 84, 21, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [36]:
set5 = set1.intersection(set2)
print(set5)

{0, 2, 3, 4, 6, 7, 8, 12, 20, 26, 28, 30, 31, 33, 34, 35, 36, 39, 41, 42, 43, 46, 47, 48, 49, 50, 51, 55, 56, 57, 59, 60, 61, 63, 70, 72, 73, 76, 80, 81, 87, 89, 90, 91, 92, 94, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [37]:
print('Set 1 has', len(set1), 'items')
print('Set 2 has', len(set2), 'items')
print('Set 3 has', len(set3), 'items')
print('Set 4 has', len(set4), 'items')
print('Set 5 has', len(set5), 'items')
# Although 3 had repeated items in the set, both have the same items.
# The intersection of the 4 sets first sets give us a smaller set.

Set 1 has 80 items
Set 2 has 56 items
Set 3 has 32 items
Set 4 has 8 items
Set 5 has 48 items

#### Create an empty set called `set6`.

In [38]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [39]:
set6.update(set3)
set6.union(set5)

print(set6)

{5, 10, 13, 14, 15, 16, 17, 18, 19, 22, 24, 25, 29, 38, 44, 53, 62, 65, 66, 68, 69, 71, 74, 75, 77, 78, 79, 82, 85, 86, 93, 99}

#### Check if `set1` and `set6` are equal.

In [40]:
print(len(set1))
print(len(set6))

80
32

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [49]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [50]:
print('Aggregation of Set3, Set4 and Set5 =', set3.union(set4, set5))

Aggregation of Set3, Set4 and Set5 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99, 101}

#### Using the `pop` method, remove the first element from `set1`.

In [51]:
set1.pop()
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 25, 26, 28, 29, 30, 31, 33, 34, 35, 36, 38, 39, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 85, 86, 87, 89, 90, 91, 92, 93, 94, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [54]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for x in list_to_remove:
    if i in set1:
        set1.discard(i)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 25, 26, 28, 29, 30, 31, 33, 34, 35, 36, 38, 39, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 85, 86, 87, 89, 90, 91, 92, 93, 94, 97, 98, 99}