## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [6]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
#list with random numbers incl repeated numbers
random_list=random.sample(range(101),k=80)

#list with unic numbers
sample_list_1=[]

for num in random_list:
    if num not in sample_list_1:
        sample_list_1.append(num)
    else:
        continue

In [8]:
list

list

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [9]:
set1=set(sample_list_1)

In [10]:
#The length still 80
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [11]:
sample_list_2=random.sample(range(101),k=80)

In [12]:
sample_list_2

[59,
 56,
 97,
 100,
 50,
 66,
 29,
 69,
 46,
 74,
 79,
 85,
 72,
 28,
 63,
 98,
 0,
 45,
 47,
 2,
 80,
 90,
 41,
 76,
 55,
 16,
 19,
 77,
 96,
 71,
 18,
 31,
 87,
 68,
 36,
 39,
 67,
 23,
 4,
 10,
 52,
 81,
 99,
 13,
 40,
 1,
 94,
 24,
 9,
 22,
 8,
 83,
 38,
 35,
 93,
 26,
 64,
 15,
 11,
 20,
 14,
 58,
 25,
 49,
 57,
 61,
 7,
 89,
 17,
 32,
 21,
 30,
 42,
 60,
 54,
 95,
 27,
 53,
 73,
 33]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [13]:
set2=set(sample_list_2)

In [14]:
#yes, we might used shuffle to be able to accept not only unique values
len(set2)

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [15]:
set3=set1.difference(set2)

In [16]:
set3

{3, 5, 12, 34, 43, 48, 51, 70, 75, 78, 82, 84, 86, 88, 91, 92}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [17]:
set4=set2.difference(set1)

In [18]:
set4

{1, 14, 15, 20, 26, 27, 30, 40, 53, 54, 56, 59, 60, 66, 81, 99}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [19]:
set5=set1.intersection(set2)

In [20]:
set5

{0,
 2,
 4,
 7,
 8,
 9,
 10,
 11,
 13,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 28,
 29,
 31,
 32,
 33,
 35,
 36,
 38,
 39,
 41,
 42,
 45,
 46,
 47,
 49,
 50,
 52,
 55,
 57,
 58,
 61,
 63,
 64,
 67,
 68,
 69,
 71,
 72,
 73,
 74,
 76,
 77,
 79,
 80,
 83,
 85,
 87,
 89,
 90,
 93,
 94,
 95,
 96,
 97,
 98,
 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [44]:
#len(set1) =< 80, as requested 
#len(set2) = 80, as requested 
#len(set3) < 80, as it has smaller size than set 1 because they are only the values of set2 that are not in set1 
#len(set4) < 80, as it has smaller size than set 2 because they are only the values of set1 that are not in set2
#len(set5) =< 80, as it has all same values of set1(contaning unique values) & set2(containing not only unique value)
#len(set6) = 80, as it is set3+set5 which is set1

In [43]:
len(set1)==len(set2)==len(set3)==len(set4)==len(set5)

False

#### Create an empty set called `set6`.

In [22]:
set6=set()

In [23]:
#comprobamos que es un set
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [24]:
set6.update(set3,set5)

In [25]:
set6

{0,
 2,
 3,
 4,
 5,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 28,
 29,
 31,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 41,
 42,
 43,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 55,
 57,
 58,
 61,
 63,
 64,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 100}

#### Check if `set1` and `set6` are equal.

In [26]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [27]:
#check if set1 contains set2
set1.issubset(set2)

False

In [28]:
#check if set1 contains set3
set1 in set3

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [29]:
x=set3.union(set4,set5)

In [30]:
y=set1.union(set2)

In [31]:
x==y

True

#### Using the `pop` method, remove the first element from `set1`.

In [32]:
# confusing as when using pop in a set it removes 1 item but you don't know which one
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [33]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [42]:
for num in list_to_remove:
    set1.discard(num)
print (set1)

{2, 3, 4, 5, 7, 8, 10, 12, 13, 16, 17, 18, 22, 23, 24, 25, 28, 32, 33, 34, 35, 36, 38, 42, 43, 45, 46, 47, 48, 50, 52, 55, 57, 58, 63, 64, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}